@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Indie+Flower&family=JetBrains+Mono:wght@500&family=Volkhov:wght@700&display=swap');

body{
    background:rgb(7, 7, 7);
}
.botones{
    float: right;
    padding: 10px;
}

.botones ul li{
    display:inline-block
}

.botones ul a{
    padding: 5px;
    font-family: monospace;
    font-weight: 700;
    text-decoration: NONE;
    color:#2FE5C9;
}
/* configuraciones para dar formato */
.espacios{
    padding-top: 50px;
    padding-bottom: 20px;
}
.espacios2{
    padding-bottom: 50px;
    padding-top: 10px;
}
.centrado{
    text-align: center;
}
.container{
    margin: 50px auto;
    padding: 5px;
    max-width: 1100px;
    
    
}
.cpu img {
    width: 120px;
    display: block;
    margin: auto;

}
h1{
    color: whitesmoke;
    display: block;
    font-size: 2em;
    font-family: 'IBM Plex Mono';
    font-weight:700;
}

h2{
    display: block;
    font-size: 1.4em;
    color: #11e8ef;
    font-family: 'Indie Flower';

}

p{
    color:white;
    text-align:center;
    font-family: monospace;
    font-size: 1.1EM;
}
h5 {
    display: block;
    font-family:monospace ;
    white-space: nowrap;
    border-right: 10px solid;
    width: 19ch;
    color: aliceblue;
    text-align: center;
    margin:auto;
    
    
    animation: typing 2s steps(19), blink .5s infinite step-end alternate;
    overflow:hidden;
    }
    
    @keyFrames typing {
    
    from { width: 0}
    }
    
    @keyFrames blink {
    50% { border-color: transparent}
    }

    h6{
        font-family: monospace;
        color:white;
        font-weight: 700;
        font-size: 1.2em;
        
    }
    .carpeta img {
        width: 30px;
        
    }
    .carpeta  a{
        padding:20px;
    }
    #textproyect1{
        font-family:'Volkhov';
        font-weight: 700;
        text-align:right;
        font-size: 1.9em;
        padding-left: 10px;
    }
    @media screen and (max-width: 780px){
        #textproyect1 {
        text-align: center;
        }
        .carpeta img{
            margin: auto;
            display: block;
        }
        #titulocontacto{
            text-align: center;
        }
        }

        @keyframes anim{
            0% {color: rgb(246, 255, 251);} 
           25% {color: rgba(0, 255, 174, 0.963);} 
           50% {color: rgb(21, 220, 230);} 
           75% {color: rgba(0, 225, 255, 0.655);} 
          100% {color: rgb(200, 207, 213);} 
        }
        strong {
          animation-name: anim;
          animation-duration: 5s;
          animation-iteration-count: infinite;
        }

        .iconos {
        width: 100PX;
        margin: auto;
      
       
        }
        .iconos a{
            padding: 30px;



        }

        i{
        
        font-size:40px;
        color:white
        
        }
